* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*index*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;

}

.logonav img{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;

}


.container {
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

}

.title_image {
    display: center;
    margin-left: 25vw;
    width: 700px;
}




.illustration {
    background-image: url(images/background/index/defeat.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.illudev {
    background-image: url(images/background/dev/salle_dev.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}



.button{
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    display: inline-block;
}

.button2{
    background-color: #8CD7C9;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    display: flex;
    margin-left: 45%;
}

.button3{
    background-color: #8CD7C9;
    text-transform: uppercase;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    display: flex;
    margin-left: 45%;
}

.button a {
    text-decoration: none;
    color: #000;
}


.button2 a {
    text-decoration: none;
    color: #000;
}

.text {
    color: #fff;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}





.forme{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

/* Images test */
.background-index{
    background-image: url(images/background/f3638265290819.5d61d475ee01c.jpg);
    background-size: cover;
    height: 100%;  
}
/* indice */
.indice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.indice1{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
}
.indice img {
    width: 50px;
    height: 50px;
  }
.indice1 img {
  width: 50px;
  height: 50px;
}
/* compte à rebour */
.compte-bourre {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    height: 78.5vh;
   
  }
  
  #timer {
    padding-left: 100px;
    color :white;
    font-weight: bold;
    font-size: 4em;
  }


.popup {
    background-color: #192929;
    border: 1px solid white;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 300px;
    display: none;

}

/*pastilles couleurs*/

.pastilles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.pastille_red {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
}

.pastille_red:hover {
    border: 2px solid black;
}

.pastille_green {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: green;
}

.pastille_green:hover {
    border: 2px solid black;
}

.pastille_yellow {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: yellow;

}

.pastille_yellow:hover {
    border: 2px solid black;
}

.pastille_orange {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: orange;
}

.pastille_orange:hover {
    border: 2px solid black;
}


.hexa {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: none;
}

/* partie explication */
section{
    
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed; 
}  

.image-1 {
    background-image: url(images/background/325624a61782e94.jpg)
  }
.boite{
    display: flex;
    justify-content: center;
    padding-top: 40%;
}
.texte{
    display: flex;
    width: 800px;
    height: 130px;
    background-color: red;
    color:white;
    
}
.texte p {
    padding-left: 15px;
    padding-top: 10px;
}
.fleche{
    padding-top: 45px;
}
.fleche img{
    width: 50px;
    height: 50px;
}

.hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #fff;
    
    
}

.footer_hud {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.footer_hud2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.timer p {
    font-size: 2rem;
    font-weight: bold;

}

.dialogue {

    background-color: #192929;
    border: 1px solid white;
    margin-left: 25%;    
    width: 600px;
    height: 100px;

}


.charasound {
    display: flex;
    justify-content: space-between;


}

.character {

    width: 100px;
    height: 110px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 5px;
    cursor: pointer;

}

.sound {

    width: 90px;
    height: 80px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;

}


.charapopup_title {
    
    /* titre centré */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.charapopup_txt {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.codedevinput {

    justify-content: center;
    align-items: center;
    height: 90px;
    width: 600px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: #192929;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    outline: none;

}

/*elements cliquables room dev*/

.doordev {
    position: absolute;
    left: 36.7%;
    top: 36.5%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 43px;
    background-color: transparent;
    cursor: pointer;
}

.cluedev1 {
    position: absolute;
    left: 13%;
    top: 62%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
}